<!DOCTYPE html>
<html>
<head>
  <title>Split View with NavBar</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <div class="nav-bar">
    <!-- Navbar content goes here -->
    <a href="{{ url_for('homepage') }}">Home</a>
    
  </div>
  <div class="container">
    <div class="left-view">
      <!-- Left view content goes here -->
    </div>
    <div class="right-view">
      <!-- Right view content goes here -->
      <p id="resultText">Results</p>
      
      <div class="bottom-view">
        
        <!-- Bottom view content goes here -->
        <!-- speech to text below-->
        
        <h3>Speech recorder below, press start and stop to record message:</h3>
        <button id="startButton">Start Recording</button>
        <button id="stopButton">Stop Recording</button>
      
        <div id="transcribedText"></div>
        <h3>When you see your message, press "Send Message" and wait for repsponse</h3>
        <!-- message to gpt below-->
        <input type="text" id="inputField" value="(Optional) Type Message Manually">
        <button onclick="processInput()">Send Message</button>
      </div>
    </div>
  </div>
</body>

</html>